body{
	background-color: darkred;
	margin: 0;
}
div{
	color: yellow;
	width: 900px;
	background-color: green;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding: 60px;
	color: orange; 
	text-align: center;
}
h1{
	margin: 0px;
	font-size: 50px;
	text-transform: capitalize;
	color: orange;
}
span{
	color: violet;
	text-transform: uppercase;
}
b{
	color: white;
	font-size: 100px;
}
p{
	margin: o;
	font-size: 20px;
	line-height: 1.5;
	text-align: justify;
}
img{
  max-width: 100%;
}